.footer {
  height: 569px;
  padding: 82px 30px 90px 29px;
}

.footer__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: auto;
  padding-bottom: 39.84px;
}

.footer__button {
  width: 316px;
  height: 42px;
  background: #000000;
  border-radius: 50px;
}

.footer__button a {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.social-media__icons {
  padding: 48px 0px 48px 0px;
  display: flex;
  justify-content: space-between;
}

.footer__icons-text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #828282;
}